name: Playwright Tests with TestDino

on:
  push:
  workflow_dispatch:

jobs:
  playwright:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Install Playwright browsers
        run: npx playwright install --with-deps

      - name: Run Playwright tests
        run: npx playwright test

      - name: Debug TestDino token
        if: always()
        env:
          TESTDINO_TOKEN: ${{ secrets.TESTDINO_TOKEN }}
        run: |
          if [ -z "$TESTDINO_TOKEN" ]; then
            echo "TESTDINO_TOKEN is NOT set"
            exit 1
          else
            echo "TESTDINO_TOKEN is set"
          fi

      - name: Upload results to TestDino
        if: always()
        env:
          TESTDINO_TOKEN: ${{ secrets.TESTDINO_TOKEN }}
          TESTDINO_BASE_URL: ${{ secrets.TESTDINO_BASE_URL }}
        run: |
          echo "Uploading Playwright report to TestDino"
          npx tdpw upload playwright-report --token "$TESTDINO_TOKEN"
